*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
background-color: rgb(252, 223, 185);
}
#capa2{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/tesoura.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    height: 95vh;
}